@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    line-height: 1.625;
    font-family: 'Nunito Sans', sans-serif;
  }

  a, button {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

}

@layer components {
  .nav-link{
    @apply text-sm uppercase font-semibold leading-100px text-tGreay-600 hover:text-primary-900
  }
}

@layer utilities{
  .center-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}