@tailwind base;
@tailwind components;
@tailwind utilities;

.player1 {
  --primary-color : red
}

.player2 {
  --primary-color : green
}

.player3 {
  --primary-color : blue
}

.player4 {
  --primary-color : black
}


@layer base{
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
  body{
    line-height: 1.625;
    font-family: 'Nunito Sans', sans-serif;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  a, button {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

  input:focus{
    outline: 0;
  }
  

}


@layer components {


  .finisher.player1{
    background: #F9C8C8;
  }

  .finisher.player2{
    background: #B5F3B5;
  }

  .finisher.player3{
    background: #BABAF7;
   
  }

  .finisher.player4{
    background: #DDDDDD;
  }

}