@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
  body{
    line-height: 1.625;
    font-family: 'Nunito Sans', sans-serif;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  a, button {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

  input:focus{
    outline: 0;
  }

}

@layer components {
  .nav-link{
    @apply text-sm uppercase font-semibold leading-100px text-tGreay-600 hover:text-primary-900
  }
  .hero-ctg{
    @apply text-lg font-semibold pl-50px block mb-15px text-tGreay-500 relative before:content-[""] before:absolute before:w-30px before:h-3px before:block before:bg-primary-900 before:top-1/2 before:left-0
  
  }
  .hero-title-1{
    @apply text-7xl font-light mb-2.5 text-tGreay-500 uppercase leading-1.2
  }

  .hero-title-2{
    @apply text-7xl font-bold mb-47px text-tGreay-500 uppercase leading-1.2
  }
  .btn-primary{
    @apply text-base leading-none text-white font-normal inline-block rounded-[50px] uppercase;
    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
    
  }

  .btn-primary:hover{
    box-shadow: 0 5px 15px 0 rgba(153,63,107,.5);
  }
  
  .hero-card{
    @apply flex w-[252px] h-[156px] bg-white p-25px justify-between rounded-md absolute bottom-[106px] right-0;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.22);
  }

  
  .section-title{
    @apply text-4xl leading-1.2 mb-11px font-extrabold;
    background: linear-gradient(-96deg,#fd3d6b 0,#fd7863 98%,#f3dfe0 100%);
    background: linear-gradient(-96deg,#fd3d6b 0,#fd7863 98%,#f3dfe0 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .product-tab-btn{
    @apply trns-1 py-9px px-23px rounded-[5px] bg-light-600 hover:gradient-primary text-tGreay-200 hover:text-white uppercase font-semibold text-sm leading-none
  }

  .product-card-action{
    @apply text-black hover:text-white block h-10 w-10 rounded-full center-child relative z-[1] overflow-hidden  after:content-[''] after:absolute after:top-0 after:left-0 after:hover:gradient-primary after:block after:w-full after:h-full after:-z-[1] after:trns-1 after:opacity-0 after:hover:opacity-100
  }

  .product-tab-list-btn{
    @apply block text-lg leading-relaxed text-tGreay-900 hover:text-primary-900 font-normal relative after:content-[''] after:block after:absolute after:left-0 after:-bottom-[14px] after:bg-primary-900 after:h-0.5 after:w-0 after:trns-1 hover:after:w-full
  }

  .slider-btn{
    @apply bg-white h-10 w-10 text-sm leading-[40px] center-child rounded-full t-shadow-1 absolute top-1/2 -translate-y-1/2 hover:bg-primary-900 hover:text-white
  }

  .offcanvas-overlay{
    @apply before:content-[""]  before:fixed before:w-full before:right-0 before:top-0 before:bottom-0 before:bg-[rgba(0,0,0,.5)] before:z-[-1];

  }

  .sidebar-title{
    @apply pl-5 text-lg leading-1.2 text-dark-300  font-semibold relative before:content-[''] before:absolute before:w-11px before:h-11px before:block before:rounded-full before:border-2 before:border-primary-900 before:left-0 before:top-1/2 before:-translate-y-1/2
  }

}

@layer utilities{
  .center-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trns-1{
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

  .gradient-primary{
    background: linear-gradient(-155deg,#fd3d6b 0,#fd7863 98%,#f3dfe0 100%)
  }

  .gradient-dark{
    background: linear-gradient(155deg,#343434 100%,#343434 100%,#343434 100%);
  }

  .t-shadow-1{
    box-shadow: 0 3px 25.5px 4.5px rgba(0,0,0,.06)
  }
  .t-shadow-2{
    box-shadow: 0 5px 15px 0 rgba(153,63,107,.5);
  }
  .t-shadow-3{
    box-shadow: 0 0 3.76px .24px rgba(0,0,0,.15);
  }

  .t-shadow-4{
    box-shadow: 0 0 0 1px rgba(68,68,68,.11);
  }

  .t-shadow-5{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
  }

}
