@tailwind base;
@tailwind components;
@tailwind utilities;

.player1 {
  --primary-color : #F5C601;
}

.player2 {
  --primary-color : #1088D6;
}

.player3 {
  --primary-color : #229746;
}

.player4 {
  --primary-color : #D43230;
}

.dice.player1{
  --primary-color : #937A12;
}


.dice.player2{
  --primary-color : #081168;
}


.dice.player3{
  --primary-color :  #094b1c;
}

.dice.player4{
  --primary-color : #570807;
}


@layer base{
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
  body{
    line-height: 1.625;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(90deg, rgba(4,13,107,1) 0%, rgba(2,17,164,1) 24%, rgba(32,49,219,1) 72%, rgba(7,18,125,1) 100%); 
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  a, button {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

  input:focus{
    outline: 0;
  }
  
  .border{
    border-color: rgba(0, 0, 0, 0.596);
  }

}


@layer components {

  .root-body{
    background: linear-gradient(90deg, rgba(4,13,107,1) 0%, rgba(2,17,164,1) 24%, rgba(32,49,219,1) 72%, rgba(7,18,125,1) 100%); 
  }

  .start-cell.player1,
  .finisher.player1{
    background: #F5C601;
  }

  .start-cell.player2,
  .finisher.player2{
    background: #1088D6;
  }

  .start-cell.player3,
  .finisher.player3{
    background: #229746;
   
  }
  .start-cell.player4,
  .finisher.player4{
    background: #D43230;
  }

}